<!-- <link rel="stylesheet" href="../public/weather_style.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet"> -->

<p>Welcome <%= user.name %>! You have reached the temporary login page </p>

<!-- <div class="bg"></div>
<div>
    <div id="description"></div>
    <h1 id="temp"></h1>
    <div id="location"></div>
</div>

<script src = "../public/weather.js">
</script> -->